<html>
<head>

	<link rel="stylesheet"
	type="text/css"
	href="../static/aboutstyle.css">
	<title>about us</title>
</head>
{%extends "home.html"%}
	{%block body%}
	<body>
		<p id="aboutusus">About us</p>
		<p id="aboutus">Programmers:</p>

	<div id="we">
		<a href="https://www.facebook.com/hanaa.zaqout.351" target="_blank"><img src="../static/hana.png" /></a>
		<p class="name">Hana Zaqout</p>
	</div>
	<div id="we2">
		<a href="https://www.facebook.com/profile.php?id=100005590659805" target="_blank"><img src="../static/abood.png" /></a>
		
		<p class="name">Abed Al Qder Auda</p>

	</div>


	<div id="dentistm">
	</div>





	</body>
{%endblock%}

</html>