<html>
<head>
		<link rel="stylesheet"
	type="text/css"
	href="../static/advice.css">
	<title>advices</title>
</head>
{%extends "home.html"%}
	{%block body%}
		<body>
			<div>
			<p id="title4">Advices</p>
		</div>
		<div id="note">
		<div id="no1">advice 1
			<br>
			<p class="styleadvice">
			Brush at least twice a day. ...
			Use fluoridated toothpaste. ...
			Brush thoroughly. ...
			Floss your teeth daily. 
			Limit acidic drinks like soft drinks, cordials and fruit juices. ...
			Limit sugary foods. ...
			Protect your teeth from injury. ...

						</p>
		</div>
		<div id="no2">advice 2
					<br>
			<p class="styleadvice">
				How to Get Rid of Tooth Pain
				<br>
				<br>

				Remove any trapped food. ..
				Avoid using the tooth. ..
				Take pain medication. ...
				Use a topical pain medication. ..
				Apply a cold compress.
			</p>

		</div>
		<div id="no3">advice 3
					<br>
			<p class="styleadvice">
			Regular brushing and flossing help keep teeth healthy by getting rid of sugars and food particles that team up with bacteria to form plaque. Plaque produces acid that damages tooth enamel, causes cavities and sets the stage for periodontal, or gum, disease
			</p>

		</div>
		</div>
		</body>
	{%endblock%}

</html>