<html>
<head>
	<link rel="stylesheet"
	type="text/css"
	href="../static/diaryStyle.css">
	<title>Diary</title>
</head>
{%extends "home.html"%}
	{%block body%}
		<body>
			<div id="hi">Diary</div>
			<div id="diaryone">
				<img src="../static/mohzak2.png" />
				<div id="hello">
					<p> Cavities can develop on any surface of a tooth, but are most common inside the pits and fissures in grooves on chewing surfaces. This is where the toothbrush bristles and fluoride toothpaste cannot reach effectively but we can. </p>
				</div>
			</div>
		<div id="diarytwo">
			<div id="hello2">
				<p>I spoke in front of 200 people for about an hour. I used 27 slides in my presentation, which were almost all just one picture each slide that I put together the night before I was due to present.

Using single picture slides means you basically talk off the top of your head, using each picture as a prompt for your story and visual stimulus for the audience. I have used slides that feature dot point lists and titles, which works well too, but I decided if I know my topic well, pictures are a lot more fun. </p></div>
			<img src="../static/mohzak1.jpg" />

		</div>
		</body>
	{%endblock%}

</html>