<html>
<head>
	<title>smile</title>
	<link rel="stylesheet" type="text/css" href="../static/contactUs.css">
	<link rel="stylesheet"
	type="text/css"
	href="../static/homeStyle.css">
</head>
<body>
	<header id="divone">
		<img id="smileimg" src="../static/smile.png" />
		<h1 id="title">smile</h1>
		<nav id="navbar">
			<ul>
				<li id="homehome"><a href="/"> Home</a></li>
				<li><a href="/about"> About us</a></li>
				<li><a href="/advices">Advices </a></li>
				<li><a href="/diary">Diary </a></li>	
				
			</ul>
		</nav>


	</header>
	{%block body%}

	<div id="divtwo">
		<p id="ourweb">Smile whenever you still have teeth ヅヅ</p>
	</div>

	<div id="divthree">
		<div id="profile">
			<div id="proimg"><img src="../static/profile.png" />

					<ul id="social">
		  <li><a href="#" target="_blank" id="first"><img src="../static/facebook.png" /></a></li>
		  <li><a href="#"><img src="../static/instagram.png" /></a></li>
		  <li><a href="#"><img src="../static/pinterest.png" /></a></li>
		  <li><a href="#"><img src="../static/twitter.png" /></a></li>
		 
			</ul>



			</div>
			<div id="promoh2">
				<h3 id="person">Mohammed Zaqout</h3>
				
				<p id="topic3">

Skills:Exeptional communication and networking skills.Successful working in a team enviroment; as well asindependently.The ability to work under pressure and multi-task.The ability to follow instructions and deliver qualityresults.High dental knowlege and skills. Leadership skills.s </p>
			</div>



		</div>
	</div>

	<div id="divfive">
		<a  id="memo">From memories</a>
		<ul id="mohimg">

		  <li id="mohone"><img src="../static/mohzak1.jpg" /></li>
		  <li id="mohtwo"><img src="../static/mohzak2.png" /></li>
		  <li id="mohthree"><img src="../static/moh10.jpg" /></li>
		 
		</ul>
	</div>
	<div id="divfour">
	<div id="contacto"><p>Contact us</p></div>
	  <div class="middlediv">
	   <h4>Send us a message</h4>
	   <form>
	   <div>
			<div><input type="text" placeholder="Your name" class="personal"/></div>
			<div><input type="text" placeholder="Your e-mail" class="personal"/></div>
	   </div>
	   <div >
	   <input type="text" placeholder="Subject" class="personal subject"/>
	   </div>
	   <div>
	   <input type="text" placeholder="Message" class="personal subject textarea" />
	   </div>
	   <div>
	   <a href="#" class="sendM">SEND A MESSAGE</a>
	   </div>
	   </form>
	   </div>
	</div>
	{%endblock%}

	<div id="divsix">
	<ul id="socialheader">
		  <li><a href="https://www.facebook.com/smaile.smaile.18062533" target="_blank"><img src="../static/facebook.png" /></a></li>
		  <li><a href="#"></a><img src="../static/instagram.png" /></li>
		  <li><a href="#"></a><img src="../static/pinterest.png" /></li>
		  <li><a href="#"></a><img src="../static/twitter.png" /></li>
		 
</ul>
 </div>
</body>
</html>